<div class="container mt-5">
  <table class="table table-striped table-bordered">
    <thead class="thead-dark">
      <tr>
        <th>Location Name</th>
        <th class="text-center action-column">Edit</th>
        <th class="text-center action-column">Delete</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let room of location">
        <td>{{ room.locationname }}</td>
        <td class="text-center">
          <button class="btn btn-warning btn-sm px-3" (click)="updateLocation(room.id)">Edit</button>
        </td>
        <td class="text-center">
          <button class="btn btn-danger btn-sm px-3" (click)="deleteLocation(room.id)">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
