<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Add Form</title>

</head>

<body>

    <div class="container mt-5">
        <h2 class="mb-4">Student </h2>
        <table class="table table-striped table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Cell No</th>
                    <th>Location</th>
                    <th>Update</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let st of students | async">
                    <td>{{ st.id }}</td>
                    <td>{{ st.name }}</td>
                    <td>{{ st.email }}</td>
                    <td>{{ st.cellNo }}</td>
                    <td>{{ st.location.name }}</td>

                    <td>
                        <button class="btn btn-warning btn-m- p-1" (click)="editStudent(st)"> Edit </button>
                    </td>
                    <td>
                        <button class="btn btn-danger btn- m-2 p-1" (click)="deleteStudent(st.id)">Delete</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

</body>

</html>