<p>booking works!</p>






<div class="container">
    <table class="table table-striped">

        <thead>
            <tr>
                <th>RoomNumber</th>
                <th>GuestName</th>
                <th>CheckInDate</th>
                <th>CheckOutDate</th>
                <th>TotalPrice</th>
               

                <th>Action</th>
                <th>Action</th>
            </tr>
        </thead>

        <tbody>
            <tr *ngFor="let BooK of bookings |async">
                <td>{{BooK.roomNumber}}</td>
                <td>{{BooK.guestName}}</td>
                <td>{{BooK.checkInDate}}</td>
                <td>{{BooK.checkOutDate}}</td>
              
                <td>{{BooK.totalPrice}}</td>
                
                <td>
                    <button class="btn btn-warning m-1 p-1"(click)="updateBooking(BooK.id)"  >Edit</button>
                    

                </td>
                <td>
                    <button class="btn btn-danger m-1 p-1"  (click)="deletebooking(BooK.id)">Delete</button>
                </td>

            </tr>

        </tbody>



    </table>

</div>
