<div class="container">
  <!-- Room Creation Form -->
  <div class="row justify-content-center">
    <div class="col-12 col-lg-8">
      <h1 class="text-center">Room Creation Form</h1>
      <form [formGroup]="formValue" (ngSubmit)="createroom()">

        <div class="row">
          <div class="col-md-6 mb-3">
            <label for="roomid" class="form-label">Room Id</label>
            <input type="text" class="form-control" id="roomid" formControlName="roomid" placeholder="Room ID">
          </div>


          <div class="col-md-6 mb-3">
            <label for="roomnumber" class="form-label">Room Number</label>
            <input type="number" class="form-control" id="roomnumber" formControlName="roomnumber"
              placeholder="Enter Room Number" required>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 mb-3">
            <label for="roomtype" class="form-label">Room Type</label>
            <select class="form-select" id="roomtype" formControlName="roomtype" required>
              <option *ngFor="let option of roomtyp" [value]="option.value">
                {{ option.label }}
              </option>
            </select>
          </div>



          <div class="col-md-6 mb-3">
            <label for="price" class="form-label">Price</label>
            <input type="number" class="form-control" id="price" formControlName="price" placeholder="Enter Price"
              required>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6 mb-3">
            <label for="status" class="form-label">Status</label>
            <select class="form-select" id="status" formControlName="status" required>
              <option *ngFor="let option of status" [value]="option.value">
                {{ option.label }}
              </option>
            </select>

          </div>

          <div class="col-md-6 mb-3">
            <label for="description" class="form-label">Description</label>
            <input type="text" class="form-control" id="description" formControlName="description"
              placeholder="Enter Description">
          </div>

        </div>

        <button type="submit" class="btn btn-outline-success w-10">Submit</button>
      </form>
    </div>
  </div>

  <!-- Table to Display Room Types and Prices -->
  <div class="row justify-content-center mt-5">
    <div class="col-12 col-lg-8">
      <h2 class="text-center">Available Room Types and Prices</h2>
      <table class="table table-bordered mt-3">
        <thead>
          <tr>
            <th>Room Type</th>
            <th>Price</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let room of roomtyp">
            <td>{{ room.label }}</td>
            <td>{{ room.price | currency }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>