<p>updatebooking works!</p>





<div class="container">
   
    <form (ngSubmit)="updatebooking()">

        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Name</label>
            <input type="text" class="form-control"   name="name" [(ngModel)]="booking.name">
            
        </div>

        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Email</label>
            <input type="text" class="form-control" name="email" [(ngModel)]="booking. email">
        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">CheckInDate</label>
            <input type="text" class="form-control" name="checkInDate" [(ngModel)]="booking.checkInDate">
        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">checkOutDate</label>
            <input type="text" class="form-control" name="checkOutDate" [(ngModel)]="booking.checkOutDate">
        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">roomType</label>
            <input type="text" class="form-control" name="roomType" [(ngModel)]="booking.roomType">
        </div>
        <div class="mb-3 form-check">
           
            <input type="checkbox" class="form-check-input" name="paymentStatus" [(ngModel)]="booking.paymentStatus">
            <label for="exampleInputPassword1" class="form-label">paymentStatus</label>
        </div>
   
    
        <button type="submit" class="btn btn-primary" >Submit</button>
    </form>

</div>

