<p>viewhotel works!</p>
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    

</head>

<body>

    <div class="container mt-5">
       
        <table class="table table-striped table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>NID</th>
                    <th>CellNo</th>
                    <th>EmargenciNo</th>
                    <th>Child</th>
                    <th>RoomNo</th>
                    <th>AC</th>
                    <th>NONAC</th>
                    <th>RoomType/th>
                    <th>Checkin</th>
                    <th>Checkout</th>
                    <th>Update</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let location of hotels | async">
                    <td>{{ location.id }}</td>
                    <td>{{ location.name }}</td>
                    <td>{{ location.nid }}</td>
                    <td>{{ location.cellNo}}</td>
                    
                    <td>{{ location.emargenciNo }}</td>
                    <td>{{ location.child }}</td>
                    <td>{{ location.roomNo }}</td>
                    <td>{{ location.ac }}</td>
                    <td>{{ location.nonac }}</td>
                    <td>{{ location.roomtype }}</td>
                    <td>{{ location.checkin }}</td>
                    <td>{{ location.checkout }}</td>
                    <td>
                        <button class="btn btn-warning btn-m-2 p-1" >Edit</button>
                    </td>
                    <td>
                         <button class="btn btn-danger btn- m-2 p-1">Delete</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

</body>

</html>
