<p>createbooking works!</p>







<div class="container">
    <form [formGroup]="formValue">

        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">RoomName</label>
            <input type="text" class="form-control"   formControlName="roomNumber">
            
        </div>

        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">GuestName</label>
            <input type="text" class="form-control" formControlName="guestName">
        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">checkInDate</label>
            <input type="date" class="form-control" formControlName="checkInDate">
        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">checkOutDate</label>
            <input type="date" class="form-control" formControlName="checkOutDate">
        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">totalPrice</label>
            <input type="number" class="form-control" formControlName="totalPrice">
        </div>

    
        <button type="submit" class="btn btn-primary" (click)=" createBooking()">Submit</button>
    </form>

</div>

