<nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">


        <li class="nav-item">
          <a class="nav-link active" href="booking">Booking</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="create">create</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="user">User</a>

        </li>
        <li class="nav-item">
          <a class="nav-link active" href="/location">Location</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="/createstudent">CreateStudent</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="/viewstudent"> ViewStudent</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Dropdown
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li>
              <hr class="dropdown-divider">
            </li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled">Disabled</a>
        </li>
      </ul>
      <form class="d-flex" role="search">

        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>
<input class="form-control" type="text" placeholder="Search">


<router-outlet></router-outlet>






<div class="container">


  <footer class="  py-5 my-5 border-top">
    <div class="container">

      <div class="row p-3">
        <div class="col-md-2">
          <h3>Dhaka</h3>

          <a href="Pan Pacific Sonargaon ">Pan Pacific Sonargaon </a>
          <a href="Renaissance Dhaka Gulshan Hotel">Renaissance Dhaka Gulshan Hotel</a>
          <a href="InterContinental ">InterContinental </a>
          <a href="Radisson Blu Dhaka Water Garden">Radisson Blu Dhaka Water Garden</a>
          <a href="Crowne Plaza Dhaka Gulshan">Crowne Plaza Dhaka Gulshan</a>


        </div>


        <div class="col-md-2">
          <h3> Cox's Bazar</h3>
          <a href="Sagor Nibash">Sagor Nibash</a>
          <a href="Long Beach Hotel">Long Beach Hotel</a>
          <a href="Hotel The Cox Today">Hotel The Cox Today</a>
          <a href="Hotel Sea Moon">Hotel Sea Moon</a>
          <a href="Hotel Windy Terrace">Hotel Windy Terrace</a>


        </div>

        <div class="col-md-2">
          <h1>Sylhet</h1>
          <a href="Hotel Noorjahan Grand">Hotel Noorjahan Grand</a>
          <a href="Rose View Hotel">Rose View Hotel</a>
          <a href="Holy Inn">Holy Inn</a>
          <a href="Hotel Dallas">Hotel Dallas</a>
          <a href="Hotel Holy Gate">Hotel Holy Gate</a>
        </div>

        <div class="col-md-2">
          <h1>Kuakata</h1>
          <a href="Khan Palace">Khan Palace</a>
          <a href="Kuakata Beach">Kuakata Beach</a>
          <a href="Hotel Radiation">Hotel Radiation</a>
          <a href="Hotel Green View International">Hotel Green View International</a>
          <a href="Beach Heaven">Beach Heaven</a>
        </div>

        <div class="col-md-2">
          <h1>Rajshahi</h1>
          <a href="Hotel X Rajshahi">Hotel X Rajshahi</a>
          <a href="Royal Raj Hotel & Condominium">Royal Raj Hotel & Condominium</a>
          <a href=""></a>
          <a href=""></a>
          <a href=""></a>
        </div>

        <div class="col-md-2">
          <h1>khulna</h1>
          <a href="Hotel Floria">Hotel Floria</a>
          <a href="Hotel Arini">Hotel Arini</a>
          <a href=""></a>
          <a href=""></a>
          <a href=""></a>
        </div>
      </div>

    </div>



  </footer>

</div>