
<div class="container">
  <h1 class="text-center">Student Add Form</h1>


  <form [formGroup]="bookingForm" (ngSubmit)="createBooking()">

    <div class="mb-3" formGroupName="user">
      <div class="invalid-feedback">Please select a location.</div>
      <label for="user" class="form-label">userid:</label>
      <select id="user" formControlName="userid" class="form-select" required>
        <option value="" disabled selected>Select your location</option>
        <option *ngFor="let loc of user" [ngValue]="loc.userid">{{loc.userid}}</option>
      </select>
    </div>


    <div class="mb-3" formGroupName="location">
      <div class="invalid-feedback">Please select a CoxsBazar.</div>
      <label for="location" class="form-label">CoxsBazar:</label>
      <select id="location" formControlName="CoxsBazar" class="form-select" required>
        <option value="" disabled selected>Select your CoxsBazar</option>
        <option *ngFor="let loc of location" [ngValue]="loc.CoxsBazar">{{loc.CoxsBazar}}</option>
      </select>
    </div>


    <div class="mb-3" formGroupName="room">
      <div class="invalid-feedback">Please select a roomtype.</div>
      <label for="room" class="form-label">roomtype:</label>
      <select id="room" formControlName="room" class="form-select" required>
        <option value="" disabled selected>Select your roomtype</option>
        <option *ngFor="let loc of room" [ngValue]="loc.roomtype">{{loc.roomtype}}</option>
      </select>
    </div>



    <div class="mb-3" formGroupName="room">
      <div class="invalid-feedback">Please select a roomid.</div>
      <label for="room" class="form-label">roomid:</label>
      <select id="room" formControlName="room" class="form-select" required>
        <option value="" disabled selected>Select your roomid</option>
        <option *ngFor="let loc of room" [ngValue]="loc.roomid">{{loc.roomid}}</option>
      </select>
    </div>


    <div class="mb-3">
      <label for="checkindate" class="form-label">checkindate</label>
      <input id="checkindate" type="date" class="form-control" formControlName="checkindate" placeholder="Enter your cell number">
    </div>
    <div class="mb-3">
      <label for="checkoutdate" class="form-label">checkoutdate</label>
      <input id="checkoutdate" type="date" class="form-control" formControlName="checkoutdate" placeholder="Enter your cell number">
    </div>

    <div class="mb-3" formGroupName="room">
      <div class="invalid-feedback">Please select a price.</div>
      <label for="room" class="form-label">Price</label>
      <select id="room" formControlName="price" class="form-select" required>
        <option value="" disabled selected>Select your price</option>
        <option *ngFor="let loc of room" [ngValue]="loc.price">{{loc.price}}</option>
      </select>
    </div>

   

    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>