<div class="container">
  <link rel="stylesheet" href="/w3css/4/w3.css">
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <table class="table table-striped">
      <thead>
        <tr>
            
          <th>User ID</th>
          <th>Name</th>
          <th>Email</th>
          <th>NID Number</th>
          <th>Phone Number</th>
          
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let us of users |async">
           
          <td>{{ us.userid}}</td>
          <td>{{ us.name }}</td>
          <td>{{ us.email }}</td>
          <td>{{ us.nid }}</td>
          <td>{{ us.phonenumber }}</td>
          <td>
           

            <button class="btn btn-danger m-1 p-1" (click)="updateUser(us.id)">Edit</button>
            <button class="btn btn-warning m-1 p-1 cl" (click)="deleteUser(us.id)">Delete</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  
