<div class="container">
  <div class="row justify-content-center">
    <div class="col-12 col-lg-8">
      <form (ngSubmit)="updateroom()">

        <!-- Room ID -->
        <div class="row mb-3">
          <div class="col-md-6">
            <label for="roomid" class="form-label">Room ID</label>
            <input type="text" class="form-control" name="roomid" [(ngModel)]="room.roomid" disabled>
          </div>


          <!-- Room Number and Room Type -->

          <div class="col-md-6">
            <label for="roomnumber" class="form-label">Room Number</label>
            <input type="number" class="form-control" name="roomnumber" [(ngModel)]="room.roomnumber">
          </div>
        </div>
    

    <div class="row mb-3">
      <div class="col-md-6">
        <label for="roomtype" class="form-label">Room Type</label>
        <select class="form-select" name="roomtype" [(ngModel)]="room.roomtype" (change)="updatePriceBasedOnRoomType()">
          <option *ngFor="let option of roomtyp" [value]="option.value">
            {{ option.label }}
          </option>
        </select>
      </div>


      <!-- Price and Status -->

      <div class="col-md-6">
        <label for="price" class="form-label">Price</label>
        <input type="number" class="form-control" name="price" [(ngModel)]="room.price" disabled>
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-md-6">
        <label for="status" class="form-label">Status</label>
        <select class="form-select" name="status" [(ngModel)]="room.status">
          <option *ngFor="let option of status" [value]="option.value">
            {{ option.label }}
          </option>
        </select>
      </div>


      <!-- Description -->

      <div class="col-md-6">
        <label for="description" class="form-label">Description</label>
        <input type="text" class="form-control" name="description" [(ngModel)]="room.description">
      </div>
    </div>

    <!-- Submit Button -->
    <div class="row mb-3">
      <div class="col-md-12">
        <button type="submit" class="btn btn-primary w-10">Submit</button>
      </div>
    </div>

    </form>
  </div>
</div>
</div>