


<div class="container">
   
    <form (ngSubmit)="updateroom()">

        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Room ID</label>
            <input type="text" class="form-control"   name="roomid" [(ngModel)]="room.roomid">
            
        </div>
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Room Number</label>
            <input type="number" class="form-control"   name="roomnumber" [(ngModel)]="room.roomnumber">
            
        </div>
        

        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">roomtype</label>
            <input type="text" class="form-control" name="roomtype" [(ngModel)]="room.roomtype">
        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">price</label>
            <input type="number" class="form-control" name="price" [(ngModel)]="room.price">
        </div>
      
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">status</label>
            <input type="text" class="form-control" name="status" [(ngModel)]="room.status">
        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Description</label>
            <input type="text" class="form-control" name="description" [(ngModel)]="room.description">
        </div>
       

    
        <button type="submit" class="btn btn-primary" >Submit</button>
    </form>

</div>

