<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="styles.css">
</head>

<body>
  <div class="container">
    <h2>Login</h2>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="needs-validation" novalidate>
      <div class="mb-3">
        <label for="email" class="form-label">Email</label>
        <input type="email" id="email" formControlName="email" class="form-control" placeholder="Enter your email"
          required>
        <div class="invalid-feedback">
          Please enter a valid email address.
        </div>
      </div>
      <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input type="password" id="password" formControlName="password" class="form-control"
          placeholder="Enter your password" required>
        <div class="invalid-feedback">
          Please enter your password.
        </div>
      </div>
      <button type="submit" class="neon-button">Login</button>
    </form>
  </div>
</body>

</html>