<div class="container">
    <table class="table table-striped">

        <thead>
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>checkInDate</th>
                <th>checkOutDate</th>
                <th>roomType</th>
          
                <th> paymentStatus</th>
                

                <th>Action</th>
            </tr>
        </thead>

        <tbody>
            <tr *ngFor="let Booking of bookings |async">
                <td>{{Booking.name}}</td>
                <td>{{Booking.email}}</td>
                <td>{{Booking.checkInDate}}</td>
                <td>{{Booking.checkOutDate}}</td>
                <td>{{Booking. roomType}}</td>
                <td>{{Booking.paymentStatus}}</td>
                <td>
                    <button class="btn btn-warning m-1 p-1" (click)="updatebooking(Booking.id)">Edit</button>
                    <button class="btn btn-danger m-1 p-1"  (click)="deletebooking(Booking.id)">Delete</button>

                </td>

            </tr>

        </tbody>



    </table>

</div>
