<div class="container">
  <table class="table table-striped">
    <thead>
      <tr>
        <th> userid</th>

        <th>CoxsBazar</th>
        <th>roomtype</th>
        <th>roomid</th>
        <th>checkindate</th>
        <th>checkoutdate</th>
        <th>price</th>

      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let booking of booking">
        <td>{{ booking.user?.userid }}</td>
        <td>{{ booking.user.room.location.CoxsBazar }}</td>
        <td>{{ booking.user.room?.roomtype }}</td>
        <td>{{ booking.user.room?.roomid }}</td>
        <td>{{ booking.checkindate | date }}</td>
        <td>{{ booking.checkoutdate | date }}</td>
        <td>{{ booking.user.room?.roomid }}</td>
        
        
        
      </tr>
    </tbody>
  </table>
</div>



